<app-loading *ngIf="isLoading"></app-loading>
<section class="profile" *ngIf="!isLoading">
  <article class="account">
    <h2 class="title">Account information</h2>
    <div class="account-info">
      <ul class="info" role="list">
        <li class="info__item">
          <p>Email adress: {{ currentUser.email }}</p>
        </li>
        <li class="info__item">
          <p>Created At: {{ currentUser.createdAt }}</p>
        </li>
        <li class="info__item">
          <p>Listed products: 11</p>
        </li>
        <li class="info__item">
          <p>Buyed products: 3</p>
        </li>
      </ul>
    </div>
  </article>
  <div class="items">
    <h2 class="title">My Products</h2>
    <ul class="products-list" role="list">
      <li class="products-list__item">
        <article class="product">
          <img
            src="https://images.unsplash.com/photo-1595941069915-4ebc5197c14a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
            alt="samsung phone"
            class="product__img"
          />
          <div class="details">
            <h3 class="details__title">iPhone 14 Pro Max</h3>
            <p class="details__price">1600$</p>
            <p class="details__createdAt">Created at: 03.11.2022</p>
          </div>
          <div class="actions">
            <button class="view">
              <i class="fa-solid fa-eye"></i>
            </button>
            <button class="edit">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </div>
        </article>
      </li>
      <li class="products-list__item">
        <article class="product">
          <img
            src="https://images.unsplash.com/photo-1595941069915-4ebc5197c14a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
            alt="samsung phone"
            class="product__img"
          />
          <div class="details">
            <h3 class="details__title">iPhone 14 Pro Max</h3>
            <p class="details__price">1600$</p>
            <p class="details__createdAt">Created at: 03.11.2022</p>
          </div>
          <div class="actions">
            <button class="view">
              <i class="fa-solid fa-eye"></i>
            </button>
            <button class="edit">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
