<app-loading *ngIf="isLoading"></app-loading>
<app-thumbnail></app-thumbnail>
<section class="profile" *ngIf="!isLoading">
  <article class="account">
    <h2 class="title">Account information</h2>
    <div class="account-info">
      <ul class="info" role="list">
        <li class="info__item">
          <p>Email adress: {{ currentUser.email }}</p>
        </li>
        <li class="info__item">
          <p>Created At: {{ currentUser.createdAt | date : "fullDate" }}</p>
        </li>
        <li class="info__item">
          <p>Listed products: {{ currentUser.myProducts.length }}</p>
        </li>
        <li class="info__item">
          <p>Buyed products: {{ currentUser.buyed.length }}</p>
        </li>
      </ul>
    </div>
  </article>
  <div class="items">
    <h2 class="title">My Products</h2>
    <h3 class="title" *ngIf="currentUser.myProducts.length === 0">
      No added products yet.
    </h3>
    <ul
      class="products-list"
      role="list"
      *ngIf="currentUser.myProducts.length > 0"
    >
      <li
        class="products-list__item"
        *ngFor="let product of currentUser.myProducts"
      >
        <article class="product">
          <img
            [src]="product.image"
            [alt]="product.model"
            class="product__img"
          />
          <div class="details">
            <h3 class="details__title">{{ product.model }}</h3>
            <p class="details__price">{{ product.price }}$</p>
            <p class="details__createdAt">
              Created at: {{ product.createdAt | date : "fullDate" }}
            </p>
          </div>
          <div class="actions">
            <a [routerLink]="'/products/' + product._id" class="view">
              <i class="fa-solid fa-eye"></i>
            </a>
            <a [routerLink]="'/products/edit/' + product._id" class="edit">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
