<div class="info">
  <h2 class="credentials">
    &copy; <span class="logo-clr">iW</span>indy eCommerce Shop - Design by
    Viktor Dimitrov
  </h2>
  <ul class="socials" role="list">
    <li class="social">
      <a
        href="https://github.com/Wickedlolz"
        target="_blank"
        class="social-link"
        ><i class="fa-brands fa-github"></i
      ></a>
    </li>
    <li class="social">
      <a
        href="https://www.linkedin.com/in/viktor-dimitrov-75633523b/"
        target="_blank"
        class="social-link"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </li>
  </ul>
</div>
