/* .footer {
  width: 100%;
} */

.info {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info .credentials {
  font-size: 18px;
  padding-right: 20px;
}

.info .socials {
  display: flex;
  gap: 30px;
}

.info .socials .social-link {
  font-size: 20px;
}

.info .socials .social-link i.fa-github {
  color: black;
  scale: 1;
  transition: scale 300ms ease-in-out;
}

.info .socials .social-link i.fa-linkedin {
  color: blue;
  scale: 1;
  transition: scale 300ms ease-in-out;
}

.info .socials .social-link i.fa-github:hover,
.info .socials .social-link i.fa-linkedin:hover {
  scale: 1.5;
}
