.login {
  width: 40%;
  margin-top: 100px;
  margin-inline: auto;
  margin-bottom: 15%;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
}

.login .title {
  width: 90%;
  margin-inline: auto;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 10px;

  border-bottom: 1px solid gray;
}

.login .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 20px;
}

.login .form label {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
}

.login .form input {
  margin-bottom: 20px;
  outline: none;
  border-radius: 10px;
  padding: 8px 10px;
  width: 90%;
}

.login .form input:last-of-type {
  margin-bottom: 50px;
}

.login .form button {
  margin-bottom: 20px;
  width: 90%;
  background-color: #0071e7;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  padding: 8px 10px;

  transition: background-color 300ms ease-in-out;
}

.login .form button:hover {
  background-color: #2585eb;
}

.login .link {
  display: inline-block;
  margin-left: 32px;
  text-decoration: none;
  margin-bottom: 10px;
  color: #0071e7;

  transition: text-decoration 300ms ease-in-out;
}

.login .link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1300px) {
  .login {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .login {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .login {
    width: 90%;
  }
}
