<section class="login">
  <h2 class="title"><i class="fa-solid fa-right-to-bracket"></i> Login</h2>
  <form class="form">
    <label for="email">Email</label>
    <input type="email" name="email" class="email" placeholder="Email adress" />
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      class="password"
      placeholder="Password"
    />
    <button>Log In</button>
  </form>
  <a routerLink="/register" class="link">Don't have an account? Register</a>
</section>
