.products {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.title {
  width: 90%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1.1px;
  font-size: 20px;
}

.container {
  width: 90%;
  margin: 0 auto;
  height: calc(100% - 70px);
}

.container .card-link {
  text-decoration: none;
}

.container .card {
  width: 300px;
  height: 290px;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transform: scale(1);
  transition: all 300ms ease-in-out;
  position: relative;
}

.container .card:hover {
  transform: scale(1.03);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  z-index: 2;
}

.container .card .card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}

.container .card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}

.container .card .head {
  position: relative;
  height: 40%;
}

.container .card .head,
.container .card .content {
  z-index: 1;
  position: relative;
}

.card .head .head__tag {
  left: 18px;
  right: unset;
  text-transform: uppercase;
}

.container .card .head .head__tag {
  position: absolute;
  top: 24px;

  padding: 4px 12px;
  border-radius: 6px;
  background-color: #845ec2;
  color: #fff;
  letter-spacing: 1.1px;
}

.container .card .content {
  padding: 18px;
  height: 60%;
}

.container .card .content .content__title {
  color: #fff;
}

.loading {
  font-size: 32px;
  letter-spacing: 1px;
  text-align: center;
}
