<div class="footer">
  <div class="navigation">
    <h3>Navigation</h3>
    <ul class="nav-list" role="list">
      <li>
        <a routerLink="/home">Home Page</a>
      </li>
      <li>
        <a routerLink="/user/cart">Your Cart</a>
      </li>
      <li>
        <a routerLink="/user/login">Login</a>
      </li>
    </ul>
  </div>
  <div class="my-account">
    <h3>My Account</h3>
    <ul class="acc-list" role="list">
      <li>
        <a routerLink="/user/profile">My Account</a>
      </li>
      <li>
        <a routerLink="/user/cart">Your Cart</a>
      </li>
      <li>
        <a routerLink="/user/login">Login</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <h2>
      <span class="logo-clr">iW</span>indy
      <i class="fa-solid fa-cart-shopping"></i>
    </h2>
    <div class="divider"></div>
    <p class="text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      the Lorem Ipsum has been the industry's standard dummy text ever since the
      you.
    </p>
  </div>
</div>
