.delete-modal {
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.delete-modal .container {
  border: 1px solid red;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 80%;
  text-align: center;
}

.delete-modal .container .text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.delete-modal .container .actions .no-btn {
  width: 80px;
  border: none;
  outline: none;
  background-color: gray;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.delete-modal .container .actions .yes-btn {
  width: 80px;
  border: none;
  outline: none;
  background-color: red;
  color: #fff;
  text-transform: uppercase;
  margin-left: 5px;
  cursor: pointer;
}
