<section class="cart">
  <h1 class="title">Shopping Cart</h1>
  <app-loading *ngIf="isLoading"></app-loading>
  <p *ngIf="cartItems.length === 0">No products added yet.</p>
  <ul class="items" role="list" *ngIf="cartItems.length > 0">
    <li class="item" *ngFor="let product of cartItems">
      <article class="product">
        <img
          src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
          alt=""
          class="product__img"
        />
        <div class="desc">
          <h2 class="desc__title">iPhone 14 Pro Max 128GB Dark</h2>
          <span class="warranty">Warranty: 12 months</span>
        </div>
        <div class="quantity">
          <select
            name="productQuantity"
            #quantity
            (change)="onSelected(quantity.value, product)"
            class="product-quantity"
          >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
          </select>
          <span class="quantity__text">Quantity.</span>
        </div>
        <div class="info">
          <p class="info__price">1600$</p>
          <a href="#" class="info__delete-btn"
            ><i class="fa-solid fa-trash"></i
          ></a>
        </div>
      </article>
      <p class="product__total-price">
        <span>Total</span>: {{ product.quantity || product.price }}$
      </p>
    </li>
  </ul>
  <div class="order">
    <h2 class="order__title">Information for order</h2>
    <ul class="order__payments" role="list">
      <li class="payment">
        <span class="payment__text">All products:</span>
        <span class="payment__price">1600$</span>
      </li>
    </ul>
    <div class="total">
      <p class="total__text">Total:</p>
      <p class="total__price">1600$</p>
    </div>
    <button class="order-now">Order Now</button>
  </div>
</section>
