<app-thumbnail></app-thumbnail>
<section class="cart">
  <app-order-modal *ngIf="isOrderModalVisible$ | async"></app-order-modal>
  <h1 class="title">Shopping Cart</h1>
  <app-loading *ngIf="isLoading$ | async"></app-loading>
  <p *ngIf="(cartItems$ | async)?.length === 0">No products added yet.</p>
  <ul
    class="items"
    role="list"
    *ngIf="!(isLoading$ | async) && (cartItems$ | async)!.length > 0"
  >
    <li class="item" *ngFor="let product of cartItems$ | async as cartItems">
      <article class="product">
        <img
          [src]="product.productId.image"
          [alt]="product.productId.name"
          class="product__img"
        />
        <div class="desc">
          <h2 class="desc__title">
            {{ product.productId.name | shorten : 35 }}
          </h2>
          <span class="warranty">Warranty: 12 months</span>
        </div>
        <div class="quantity">
          <p class="quantity__text">Quantity: {{ product.quantity }}</p>
        </div>
        <div class="info">
          <p class="info__price">{{ product.productId.price }}$</p>
          <a
            href="javascript:void(0)"
            class="info__delete-btn"
            (click)="handleRemoveItem(product)"
            ><i class="fa-solid fa-trash"></i
          ></a>
        </div>
      </article>
      <p class="product__total-price">
        <span>Total</span>:
        {{ (+product.productId.price * product.quantity).toFixed(2) }}$
      </p>
    </li>
  </ul>
  <div class="order">
    <h2 class="order__title">Information for order</h2>
    <ul class="order__payments" role="list">
      <li class="payment">
        <span class="payment__text">All products:</span>
        <span class="payment__price">{{ calcTotalPrice().toFixed(2) }}$</span>
      </li>
    </ul>
    <div class="total">
      <p class="total__text">Total:</p>
      <p class="total__price">{{ calcTotalPrice().toFixed(2) }}$</p>
    </div>
    <button class="order-now" (click)="handleOrderNow()">Order Now</button>
  </div>
</section>
