.container {
  width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: flex-end;
}

.container .notification {
  width: 300px;
  height: 80px;
  border-radius: 10px;
  padding: 0px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.error {
  background-color: #ff0026;
}

.success {
  background-color: #32cd32;
}

.container .notification .message {
  letter-spacing: 1px;
  font-size: 18px;
}

.container .notification i {
  font-size: 20px;
  cursor: pointer;
}
