<section class="create">
  <h1 class="title">List a Product</h1>
  <form class="create-form" (submit)="handleCreate($event)">
    <label for="model">Model</label>
    <input
      type="text"
      name="model"
      class="model"
      placeholder="iPhone 14 Pro Max"
    />
    <label for="price">Price</label>
    <input type="number" name="price" class="price" placeholder="1500" />
    <label for="released">Released Date</label>
    <input
      type="text"
      name="released"
      class="released"
      placeholder="2022, September 16"
    />
    <label for="weight">Weight</label>
    <input
      type="text"
      name="weight"
      class="weight"
      placeholder="240g, 7.9mm thickness"
    />
    <label for="os">OS</label>
    <input type="text" name="os" class="os" placeholder="iOS" />
    <label for="memory">External Memory</label>
    <input
      type="text"
      name="memory"
      class="memory"
      placeholder="128GB/256GB/1TB storage, no card slot"
    />
    <label for="displaySize">Display Size</label>
    <input
      type="text"
      name="displaySize"
      class="displaySize"
      placeholder="6.7"
    />
    <label for="displayResolutions">Display Resolution</label>
    <input
      type="text"
      name="displayResolutions"
      class="displayResolutions"
      placeholder="1290x2796 pixels"
    />
    <label for="cameraMP">Camera MP</label>
    <input type="number" name="cameraMP" class="cameraMP" placeholder="48" />
    <label for="cameraVideo">Camera Video Pixels</label>
    <input
      type="text"
      name="cameraVideo"
      class="cameraVideo"
      placeholder="2160"
    />
    <label for="ram">RAM Memory</label>
    <input type="number" name="ram" class="ram" placeholder="6" />
    <label for="chipset">Chipset</label>
    <input
      type="text"
      name="chipset"
      class="chipset"
      placeholder="Apple A16 Bionic"
    />
    <label for="batteryMAH">Battery MAH</label>
    <input
      type="number"
      name="batteryMAH"
      class="batteryMAH"
      placeholder="4323"
    />
    <label for="batteryType">Battery Type</label>
    <select name="batteryType" class="batteryType">
      <option value="li-ion" selected>Li-Ion</option>
      <option value="li-po">Li-Po</option>
    </select>
    <label for="image">Product Image</label>
    <!-- <input type="file" name="image" class="image" /> -->
    <input type="url" name="image" class="image" placeholder="Image URL here" />
    <label for="video">YouTube Review</label>
    <input
      type="url"
      name="video"
      class="image"
      placeholder="YouTube URL here"
    />
    <label for="category">Select Category</label>
    <select name="category" class="category">
      <option value="samsung" selected>Samsung</option>
      <option value="apple">Apple</option>
      <option value="huawei">Huawei</option>
      <option value="xiaomi">Xiaomi</option>
      <option value="motorola">Motorola</option>
      <option value="nokia">Nokia</option>
      <option value="other">Other</option>
    </select>
    <div class="buttons">
      <button class="cancel-btn" type="button" (click)="navigateToHome()">
        Cancel
      </button>
      <button class="create-btn">Create</button>
    </div>
  </form>
</section>
