<div class="header">
  <a href="">
    <h2 class="header__title">
      <a routerLink="/home"><span class="logo-clr">iW</span>indy</a>
    </h2>
  </a>
  <nav>
    <ul class="nav-list" role="list">
      <li class="nav-list__item">
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-list__item">
        <a
          routerLink="/products"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Products</a
        >
      </li>
      <li class="nav-list__item" *ngIf="!(isLoggedIn$ | async)">
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-list__item" *ngIf="!(isLoggedIn$ | async)">
        <a routerLink="/register" routerLinkActive="active">Register</a>
      </li>
      <li class="nav-list__item" *ngIf="isLoggedIn$ | async">
        <a
          routerLink="/products/create"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Create</a
        >
      </li>
      <li class="nav-list__item" *ngIf="isLoggedIn$ | async">
        <a href="javascript:void(0)" (click)="handleLogout()">Log Out</a>
      </li>
      <li class="nav-list__item cart" *ngIf="isLoggedIn$ | async">
        <a routerLink="/profile" routerLinkActive="active">
          <i class="fa-solid fa-circle-user"></i>
        </a>
      </li>
      <li class="nav-list__item cart" *ngIf="isLoggedIn$ | async">
        <a routerLink="/cart" routerLinkActive="active">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
