<div class="header">
  <a href="">
    <h2 class="header__title">
      <a routerLink="/home"><span class="logo-clr">iW</span>indy</a>
    </h2>
  </a>
  <nav>
    <ul class="nav-list" role="list">
      <li class="nav-list__item">
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-list__item" *ngIf="!isAuth">
        <a
          routerLink="/login"
          routerLinkActive="active"
          (click)="handleLoginClick($event)"
          >Login</a
        >
      </li>
      <li class="nav-list__item" *ngIf="!isAuth">
        <a routerLink="/register" routerLinkActive="active">Register</a>
      </li>
      <li class="nav-list__item" *ngIf="isAuth">
        <a
          routerLink="/products"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Products</a
        >
      </li>
      <li class="nav-list__item" *ngIf="isAuth">
        <a
          routerLink="/products/create"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Create</a
        >
      </li>
      <li class="nav-list__item" *ngIf="isAuth">
        <a routerLink="/logout" (click)="handleLogOutClick($event)">Log Out</a>
      </li>
      <li class="nav-list__item cart" *ngIf="isAuth">
        <a routerLink="/profile/:userId" routerLinkActive="active">
          <i class="fa-solid fa-circle-user"></i>
        </a>
      </li>
      <li class="nav-list__item cart" *ngIf="isAuth">
        <a routerLink="/cart/:userId" routerLinkActive="active">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
