.header {
  width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background-color: transparent;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header .header__title {
  letter-spacing: 1.2px;
  font-size: 30px;
  font-weight: bold;
}

.header nav .nav-list {
  display: flex;
  column-gap: 5px;
}

.header nav .nav-list .nav-list__item a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;

  border-radius: 12px;
  padding: 12px;

  transition: background-color 300ms ease-in-out;
}
.header nav .nav-list .nav-list__item a i {
  font-size: 16px;
}

.header nav .nav-list .nav-list__item a:hover {
  background-color: red;
  color: #fff;
}

.active {
  background-color: red;
  color: #fff !important;
}
