<div class="header">
  <a href="">
    <h2 class="header__title">
      <a routerLink="/"><span class="logo-clr">iW</span>indy</a>
    </h2>
  </a>
  <nav>
    <ul class="nav-list" role="list">
      <li class="nav-list__item"><a routerLink="/home">Home</a></li>
      <li class="nav-list__item" *ngIf="!isAuth">
        <a href="" (click)="handleLoginClick($event)">Login</a>
      </li>
      <li class="nav-list__item" *ngIf="!isAuth"><a href="">Register</a></li>
      <li class="nav-list__item" *ngIf="isAuth"><a href="">Products</a></li>
      <li class="nav-list__item" *ngIf="isAuth"><a href="">Create</a></li>
      <li class="nav-list__item" *ngIf="isAuth">
        <a href="" (click)="handleLogOutClick($event)">Log Out</a>
      </li>
      <li class="nav-list__item cart" *ngIf="isAuth">
        <a href="">
          <i class="fa-solid fa-circle-user"></i>
        </a>
      </li>
      <li class="nav-list__item cart" *ngIf="isAuth">
        <a href="">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
