.home {
  width: 90%;
  margin-inline: auto;
  background-color: #fff;
  border-top: 2px solid red;
}

.home .hero .heading {
  position: relative;
  margin-bottom: 10px;
}

.home .hero .heading .heading__img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.home .hero .heading .content {
  position: absolute;
  top: 40%;
  left: 100px;
  transform: translateY(-50%);
  cursor: default;
}

.home .hero .heading .content .content__title {
  font-size: 26px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.5);
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.home .hero .heading .content .content__desc {
  text-align: center;
  background-color: rgba(220, 220, 220, 0.7);
  text-transform: uppercase;
  font-size: 20px;
}

.home .description {
  margin-bottom: 30px;
}

.home .description .text {
  text-align: center;
  font-size: 18px;
  max-width: 880px;
  margin-inline: auto;
  cursor: default;
}

.home .latest {
  margin-bottom: 100px;
}

.heading {
  margin-bottom: 20px;
}

.heading .title {
  width: 180px;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 10px;
}

.heading .title .sub-title {
  color: rgb(236, 31, 76);
  margin-right: 10px;
}

.heading .horizontal-line {
  display: inline-block;
  width: calc(100% - 190px);
  height: 20px;
  background-color: lightgrey;
  vertical-align: middle;
}

.home .latest .products-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.home .latest .products-list .product-link {
  text-decoration: none;
  color: inherit;
}

.home .latest .products-list .product-item {
  max-height: 350px;
}

.home .latest .products-list .product .product__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.home .latest .products-list .product .desc {
  background-color: #eee;
  text-align: center;
  padding: 10px;
}

.home .latest .products-list .product .desc .desc__title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.home .latest .products-list .product .desc .desc__category {
  background-color: #000;
  width: 80px;
  color: #fff;
  font-weight: bold;
  padding: 2px 5px;
  margin-inline: auto;
  margin-bottom: 10px;
  border-radius: 4px;
  text-transform: uppercase;
}

.home .latest .products-list .product .desc .desc__price {
  font-size: 20px;
}

.home .latest .products-list .product-link:hover .desc {
  background-color: red;
}

.home .latest .products-list .product-link:hover .desc .desc__title,
.home .latest .products-list .product-link:hover .desc .desc__category {
  color: #fff;
}

.home .services {
  padding-bottom: 100px;
}

.home .services .services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin-left: 10px;
  margin-right: 10px;
}

.home .services .services-list .service-item {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .services .services-list .service-item:hover {
  background-color: #eee;
}

.home .services .services-list .service i {
  display: block;
  font-size: 52px;
  margin-bottom: 20px;
  text-align: center;
}

.home .services .services-list .service .desc {
  text-align: center;
}

.home .manufactures {
  padding-bottom: 25px;
}

.home .manufactures .clients-list {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}
