<app-loading *ngIf="isLoading"></app-loading>
<app-notification
  *ngIf="hasError"
  [errorMessage]="errorMessage"
></app-notification>
<section class="products" *ngIf="!isLoading">
  <img
    class="products__img"
    src="/assets/images/martin-engel-crblx-CmCns-unsplash.jpg"
    alt="iPhone"
  />
  <div class="content">
    <h1 class="content__title"><span class="logo-clr">iW</span>indy</h1>
    <p class="content_desc">Welcome to iWindy eCommerce Shop.</p>
    <p class="content_desc">
      Here you can find device you looking for or device you will want.
    </p>
  </div>
</section>
<h2 class="title" *ngIf="!isLoading">Apple Products</h2>
<section class="container" *ngIf="!isLoading">
  <carousel [height]="310" [cellWidth]="300" [borderRadius]="14" [loop]="true">
    <div class="carousel-cell" *ngFor="let product of appleProducts">
      <a [routerLink]="['/products', product._id]" class="card-link">
        <article class="card">
          <img
            class="card__img"
            [src]="product.image"
            loading="lazy"
            [alt]="product.category"
          />
          <div class="head">
            <span class="head__tag">{{ product.category }}</span>
          </div>

          <div class="content">
            <h2 class="content__title">{{ product.model }}</h2>
          </div>
        </article>
      </a>
    </div>
  </carousel>
</section>
<h2 class="title" *ngIf="!isLoading">Samsung Products</h2>
<section class="container" *ngIf="!isLoading">
  <carousel [height]="310" [cellWidth]="300" [borderRadius]="14" [loop]="true">
    <div class="carousel-cell" *ngFor="let product of samsungProducts">
      <a [routerLink]="['/products', product._id]" class="card-link">
        <article class="card">
          <img
            class="card__img"
            [src]="product.image"
            loading="lazy"
            [alt]="product.category"
          />
          <div class="head">
            <span class="head__tag">{{ product.category }}</span>
          </div>

          <div class="content">
            <h2 class="content__title">{{ product.model }}</h2>
          </div>
        </article>
      </a>
    </div>
  </carousel>
</section>
<h2 class="title" *ngIf="!isLoading">Huawei Products</h2>
<section class="container" *ngIf="!isLoading">
  <carousel [height]="310" [cellWidth]="300" [borderRadius]="14" [loop]="true">
    <div class="carousel-cell" *ngFor="let product of huaweiProducts">
      <a [routerLink]="['/products', product._id]" class="card-link">
        <article class="card">
          <img
            class="card__img"
            [src]="product.image"
            loading="lazy"
            [alt]="product.category"
          />
          <div class="head">
            <span class="head__tag">{{ product.category }}</span>
          </div>

          <div class="content">
            <h2 class="content__title">{{ product.model }}</h2>
          </div>
        </article>
      </a>
    </div>
  </carousel>
</section>
