<!-- <app-let-it-snow></app-let-it-snow> -->
<article class="home">
  <section class="hero">
    <article class="heading">
      <img
        class="heading__img"
        src="/assets/images/banner-2.jpg"
        alt="Winter Sale"
        loading="lazy"
      />
      <div class="content">
        <h1 class="content__title">Winter Season Sale</h1>
        <p class="content__desc">Up to 50% Off</p>
        <p class="content__desc">On selected items online and in stores</p>
      </div>
    </article>
    <article class="description">
      <p class="text">
        We stand for top quality products. Our genuine developers always
        optimized website. Don't miss to use our cheap and best products.
      </p>
    </article>
  </section>

  <section class="latest">
    <div class="heading">
      <h2 class="title">Latest <span class="sub-title">Products</span></h2>
      <div class="horizontal-line"></div>
    </div>
    <app-loading *ngIf="isLoading"></app-loading>

    <ul
      class="products-list"
      role="list"
      *ngIf="!isLoading && (latest$ | async) as products"
    >
      <li class="product-item" *ngFor="let product of products">
        <a class="product-link" [routerLink]="'/products/' + product._id">
          <article class="product">
            <img
              class="product__img"
              [src]="product.image"
              [alt]="product.name"
              loading="lazy"
            />
            <div class="desc">
              <h3 class="desc__title">{{ product.name | shorten : 45 }}</h3>
              <p class="desc__category">{{ product.category }}</p>
              <p class="desc__price" [ngClass]="{ discount: product.discount }">
                ${{ product.price }}
              </p>
            </div>
          </article>
        </a>
      </li>
    </ul>
  </section>

  <section class="services">
    <ul role="list" class="services-list">
      <li class="service-item" (mouseenter)="rotate('designState')">
        <article class="service">
          <i
            [@rotatedState]="servicesState.designState"
            class="fa-solid fa-gear"
          ></i>

          <div class="desc">
            <h2 class="desc__title">MODERN DESIGN</h2>
            <p class="desc__text">
              Lorem Ipsum is simply dummy text of the printing and printing
              industry unknown printer.
            </p>
          </div>
        </article>
      </li>
      <li class="service-item" (mouseenter)="rotate('shippingState')">
        <article class="service">
          <i
            [@rotatedState]="servicesState.shippingState"
            class="fa-solid fa-cart-shopping"
          ></i>
          <div class="desc">
            <h2 class="desc__title">FREE SHIPPING</h2>
            <p class="desc__text">
              Lorem Ipsum is simply dummy text of the printing and printing
              industry unknown printer.
            </p>
          </div>
        </article>
      </li>
      <li class="service-item" (mouseenter)="rotate('supportState')">
        <article class="service">
          <i
            [@rotatedState]="servicesState.supportState"
            class="fa-solid fa-circle-info"
          ></i>
          <div class="desc">
            <h2 class="desc__title">
              24/7 LIVE <span class="bolded">SUPPORT</span>
            </h2>
            <p class="desc__text">
              Lorem Ipsum is simply dummy text of the printing and printing
              industry unknown printer.
            </p>
          </div>
        </article>
      </li>
    </ul>
  </section>

  <section class="manufactures">
    <div class="heading">
      <h2 class="title">MANUFACTURES</h2>
      <div class="horizontal-line"></div>
    </div>
    <ul class="clients-list" role="list">
      <li class="client">
        <img
          src="/assets/images/clients/1.png"
          loading="lazy"
          alt="Client Image"
        />
      </li>
      <li class="client">
        <img
          src="/assets/images/clients/2.png"
          loading="lazy"
          alt="Client Image"
        />
      </li>
      <li class="client">
        <img
          src="/assets/images/clients/3.png"
          loading="lazy"
          alt="Client Image"
        />
      </li>
      <li class="client">
        <img
          src="/assets/images/clients/4.png"
          loading="lazy"
          alt="Client Image"
        />
      </li>
      <li class="client">
        <img
          src="/assets/images/clients/14.png"
          loading="lazy"
          alt="Client Image"
        />
      </li>
      <li class="client">
        <img
          src="/assets/images/clients/35.png"
          loading="lazy"
          alt="Client Image"
        />
      </li>
    </ul>
  </section>
</article>
