<section class="details" *ngIf="!isLoading; else loadingIndicator">
  <img
    class="heading-img"
    src="/assets/images/banner-2.jpg"
    alt="Banner"
    loading="lazy"
  />
  <article class="product">
    <h2 class="title">Product Detail</h2>
    <div class="box">
      <img
        class="product-img"
        src="https://i.pravatar.cc/"
        alt="Random image"
        loading="lazy"
      />
      <div class="desc">
        <ul class="desc-list" role="list">
          <li>
            <p><b>Brand</b>: Apple</p>
          </li>
          <li>
            <p><b>Product Code</b>: 14</p>
          </li>
          <li>
            <p><b>Reward Points</b>: 0</p>
          </li>
          <li>
            <p><b>Availability</b>: Out Of Stock</p>
          </li>
        </ul>
        <p class="price">Price: $587.50</p>
        <form class="form">
          <label for="qty">Quantity</label>
          <input type="number" name="qty" id="qty" placeholder="1" />
          <button class="btn">Add to cart</button>
        </form>
      </div>
    </div>
  </article>
  <article class="additional-info">
    <h3 class="title">Additional Information</h3>
    <table>
      <tbody>
        <tr>
          <td>Size</td>
          <td>Large, Medium, Small, X-Large</td>
        </tr>
        <tr>
          <td>Color</td>
          <td>Orange, Yellow</td>
        </tr>
      </tbody>
    </table>
  </article>
  <article class="description">
    <h3 class="title">Details</h3>
    <p class="text">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
      inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
      sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
      amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
      incidunt ut labore et dolore magnam aliquam quaerat voluptatem
    </p>
  </article>
  <article class="related-products">
    <div class="heading">
      <h3 class="title"><span class="logo-clr">Related</span> Products</h3>
      <div class="horizontal-line"></div>
    </div>
    <ul class="products-list" role="list" *ngIf="!isLoading">
      <li class="product-item">
        <a class="product-link" [routerLink]="'/products/' + product._id">
          <article class="product">
            <img
              class="product__img"
              src="https://i.pravatar.cc/"
              alt="image"
              loading="lazy"
            />
            <div class="desc">
              <h3 class="desc__title">product model</h3>
              <p class="desc__category">category</p>
              <p class="desc__price">$product price</p>
            </div>
          </article>
        </a>
      </li>
      <li class="product-item">
        <a class="product-link" [routerLink]="'/products/' + product._id">
          <article class="product">
            <img
              class="product__img"
              src="https://i.pravatar.cc/"
              alt="image"
              loading="lazy"
            />
            <div class="desc">
              <h3 class="desc__title">product model</h3>
              <p class="desc__category">category</p>
              <p class="desc__price">$product price</p>
            </div>
          </article>
        </a>
      </li>
      <li class="product-item">
        <a class="product-link" [routerLink]="'/products/' + product._id">
          <article class="product">
            <img
              class="product__img"
              src="https://i.pravatar.cc/"
              alt="image"
              loading="lazy"
            />
            <div class="desc">
              <h3 class="desc__title">product model</h3>
              <p class="desc__category">category</p>
              <p class="desc__price">$product price</p>
            </div>
          </article>
        </a>
      </li>
      <li class="product-item">
        <a class="product-link" [routerLink]="'/products/' + product._id">
          <article class="product">
            <img
              class="product__img"
              src="https://i.pravatar.cc/"
              alt="image"
              loading="lazy"
            />
            <div class="desc">
              <h3 class="desc__title">product model</h3>
              <p class="desc__category">category</p>
              <p class="desc__price">$product price</p>
            </div>
          </article>
        </a>
      </li>
      <li class="product-item">
        <a class="product-link" [routerLink]="'/products/' + product._id">
          <article class="product">
            <img
              class="product__img"
              src="https://i.pravatar.cc/"
              alt="image"
              loading="lazy"
            />
            <div class="desc">
              <h3 class="desc__title">product model</h3>
              <p class="desc__category">category</p>
              <p class="desc__price">$product price</p>
            </div>
          </article>
        </a>
      </li>
    </ul>
  </article>
</section>

<ng-template #loadingIndicator>
  <app-loading></app-loading>
</ng-template>
