<!-- <app-loading *ngIf="isLoading"></app-loading> -->

<section class="details" *ngIf="!isLoading; else loadingIndicator">
  <div class="article-info">
    <h1 class="article-info__title">{{ product.model }}</h1>
    <div class="article-info__image">
      <img loading="lazy" [src]="product.image" [alt]="product.model" />
    </div>
    <ul class="features" role="list">
      <li class="features__specs">
        <span class="features__specs-release"
          ><i class="fa-regular fa-calendar"></i> Released
          {{ product.released }}</span
        >
        <span class="features__specs-weight">
          <i class="fa-solid fa-mobile-screen"></i> {{ product.weight }}
        </span>
        <span class="features__specs-system">
          <i class="fa-solid fa-code"></i> {{ product.os }}
        </span>
        <span class="features__specs-storage">
          <i class="fa-solid fa-memory"></i>
          {{ product.memory }}
        </span>
      </li>
      <li class="features__price">
        <strong
          ><i class="fa-solid fa-dollar-sign"></i> {{ product.price }}</strong
        >
        <!-- <span>2,987,559 hits</span> -->
      </li>
      <li class="features__likes">
        <button [disabled]="!(isLoggedIn$ | async)">
          <strong> <i class="fa-solid fa-heart"></i> 400 </strong>
          <span>Become a fan</span>
        </button>
      </li>
      <li class="features__display">
        <i class="fa-solid fa-mobile-screen"></i>
        <strong>{{ product.displaySize }}"</strong>
        <span>{{ product.displayResolutions }}</span>
      </li>
      <li class="features__camera">
        <i class="fa-solid fa-camera"></i>
        <strong>{{ product.cameraMP }}MP</strong>
        <span>{{ product.cameraVideo }}p</span>
      </li>
      <li class="features__ram">
        <i class="fa-solid fa-microchip"></i>
        <strong>{{ product.ram }}GB RAM</strong>
        <span>{{ product.chipset }}</span>
      </li>
      <li class="features__battery">
        <i class="fa-solid fa-battery-full"></i>
        <strong>{{ product.batteryMAH }}mAh</strong>
        <span>{{ product.batteryType.toLocaleUpperCase() }}</span>
      </li>
    </ul>
  </div>
  <div class="actions" *ngIf="isLoggedIn$ | async">
    <ul class="list" role="list">
      <li
        class="list__item"
        *ngIf="(currentUser$ | async)?._id !== product.creator._id"
      >
        <i class="fa-solid fa-cart-shopping"></i>
        <a href="javascript:void(0)">Add to Cart</a>
      </li>
      <li
        class="list__item"
        *ngIf="(currentUser$ | async)?._id === product.creator._id"
      >
        <i class="fa-solid fa-pen-to-square"></i>
        <a href="javascript:void(0)">Edit</a>
      </li>
      <li
        class="list__item"
        *ngIf="(currentUser$ | async)?._id === product.creator._id"
      >
        <i class="fa-sharp fa-solid fa-trash"></i>
        <a href="javascript:void(0)">Delete</a>
      </li>
    </ul>
  </div>
  <div class="video">
    <iframe
      src="https://www.youtube.com/embed/H4SXsmXZlwk"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <form class="form" method="post" *ngIf="isLoggedIn$ | async">
    <label for="comment">Commnet</label>
    <input
      type="text"
      name="comment"
      id="comment"
      placeholder="What's your opinion?"
    />
    <button>Send <i class="fa-regular fa-paper-plane"></i></button>
  </form>
  <div class="reviews">
    <h3 class="reviews__title">
      {{ product.model.toLocaleUpperCase() }} - USER OPINIONS AND REVIEWS
    </h3>
    <ul role="list" class="list">
      <li class="list__item">
        <div class="comment-header">
          <span class="comment-header__author"
            ><i class="fa-solid fa-user"></i> blazko95</span
          >
          <span class="comment-header__time"
            ><i class="fa-regular fa-clock"></i>15 hours ago</span
          >
        </div>
        <p>
          The older iphone models like the iphone 6/7/8 all had the battery
          percentage indicator. Apple just removed it on the iphone x series.
          and again readded it with ios 16. Your only argument is that they will
          copy the battery % indicator, like lol w...
        </p>
      </li>
      <li class="list__item">
        <div class="comment-header">
          <span class="comment-header__author"
            ><i class="fa-solid fa-user"></i> blazko95</span
          >
          <span class="comment-header__time"
            ><i class="fa-regular fa-clock"></i>15 hours ago</span
          >
        </div>
        <p>
          The older iphone models like the iphone 6/7/8 all had the battery
          percentage indicator. Apple just removed it on the iphone x series.
          and again readded it with ios 16. Your only argument is that they will
          copy the battery % indicator, like lol w...
        </p>
      </li>
    </ul>
  </div>
</section>

<ng-template #loadingIndicator>
  <app-loading></app-loading>
</ng-template>
