<section class="details" *ngIf="!isLoading; else loadingIndicator">
  <img
    class="heading-img"
    src="/assets/images/banner-2.jpg"
    alt="Banner"
    loading="lazy"
  />
  <article class="product">
    <h2 class="title">Product Detail</h2>
    <div class="box">
      <img
        class="product-img"
        [src]="product.image"
        [alt]="product.name"
        loading="lazy"
      />
      <div class="desc">
        <ul class="desc-list" role="list">
          <li>
            <p><b>Brand</b>: {{ product.brand }}</p>
          </li>
          <li>
            <p><b>Product Code</b>: {{ product._id }}</p>
          </li>
          <li>
            <p><b>Reward Points</b>: {{ product.likes.length }}</p>
          </li>
          <li>
            <p *ngIf="product.quantity === 0">
              <b>Availability</b>: Out Of Stock
            </p>
            <p *ngIf="product.quantity > 0">
              <b>Availability</b>: {{ product.quantity }}
            </p>
          </li>
        </ul>
        <p class="price" [ngClass]="{ discount: product.discount }">
          Price: ${{ product.price }}
        </p>
        <form class="form">
          <label for="qty">Quantity</label>
          <input type="number" name="qty" id="qty" placeholder="1" />
          <button class="btn">Add to cart</button>
        </form>
        <ul class="actions" role="list" *ngIf="isLoggedIn$ | async">
          <li
            *ngIf="
              !isLiked && (currentUser$ | async)?._id !== product.creator._id
            "
          >
            <button class="like-btn" (click)="handleLike()">
              <i class="fa-regular fa-heart"></i>
            </button>
          </li>
          <li
            *ngIf="
              isLiked && (currentUser$ | async)?._id !== product.creator._id
            "
          >
            <button class="dislike-btn" (click)="handleDislike()">
              <i class="fa-solid fa-heart"></i>
            </button>
          </li>
          <li *ngIf="(currentUser$ | async)?._id === product.creator._id">
            <a class="edit-link" [routerLink]="'/products/edit/' + product._id">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
          </li>
          <li *ngIf="(currentUser$ | async)?._id === product.creator._id">
            <button class="delete-btn">
              <i class="fa-solid fa-trash"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </article>
  <article class="additional-info">
    <h3 class="title">Additional Information</h3>
    <table>
      <tbody>
        <tr>
          <td>Size</td>
          <td>{{ product.sizes.join(", ") }}</td>
        </tr>
        <tr>
          <td>Color</td>
          <td>{{ product.colors.join(", ") }}</td>
        </tr>
      </tbody>
    </table>
  </article>
  <article class="description">
    <h3 class="title">Details</h3>
    <p class="text">
      {{ product.description }}
    </p>
  </article>
  <article class="related-products">
    <div class="heading">
      <h3 class="title"><span class="logo-clr">Related</span> Products</h3>
      <div class="horizontal-line"></div>
    </div>
    <p *ngIf="!isLoading && relatedProducts.length === 0">
      We don&apos;t have any related products.
    </p>
    <ul
      class="products-list"
      role="list"
      *ngIf="!isLoading && relatedProducts.length > 0"
    >
      <li class="product-item" *ngFor="let product of relatedProducts">
        <a class="product-link" [routerLink]="'/products/' + product._id">
          <article class="product">
            <img
              class="product__img"
              [src]="product.image"
              [alt]="product.name"
              loading="lazy"
            />
            <div class="desc">
              <h3 class="desc__title">{{ product.name }}</h3>
              <p class="desc__category">{{ product.category }}</p>
              <p class="desc__price" [ngClass]="{ discount: product.discount }">
                ${{ product.price }}
              </p>
            </div>
          </article>
        </a>
      </li>
    </ul>
  </article>
</section>

<ng-template #loadingIndicator>
  <app-loading></app-loading>
</ng-template>
