<p class="loading" *ngIf="isLoading">Loading&hellip;</p>

<section class="products" *ngIf="!isLoading">
  <carousel
    [height]="400"
    [cellWidth]="'100%'"
    [borderRadius]="14"
    [loop]="true"
    [dots]="true"
    [arrows]="true"
    [autoplay]="true"
    [images]="images"
  >
  </carousel>
</section>
<h2 class="title" *ngIf="!isLoading">Apple Products</h2>
<section class="container" *ngIf="!isLoading">
  <carousel [height]="310" [cellWidth]="300" [borderRadius]="14" [loop]="true">
    <div class="carousel-cell" *ngFor="let product of appleProducts">
      <a href="/{{ product._id }}" class="card-link">
        <article class="card">
          <img
            class="card__img"
            [src]="product.image"
            loading="lazy"
            [alt]="product.category"
          />
          <div class="head">
            <span class="head__tag">{{ product.category }}</span>
          </div>

          <div class="content">
            <h2 class="content__title">{{ product.model }}</h2>
          </div>
        </article>
      </a>
    </div>
  </carousel>
</section>
<h2 class="title" *ngIf="!isLoading">Samsung Products</h2>
<section class="container" *ngIf="!isLoading">
  <carousel [height]="310" [cellWidth]="300" [borderRadius]="14" [loop]="true">
    <div class="carousel-cell" *ngFor="let product of samsungProducts">
      <a href="/{{ product._id }}" class="card-link">
        <article class="card">
          <img
            class="card__img"
            [src]="product.image"
            loading="lazy"
            [alt]="product.category"
          />
          <div class="head">
            <span class="head__tag">{{ product.category }}</span>
          </div>

          <div class="content">
            <h2 class="content__title">{{ product.model }}</h2>
          </div>
        </article>
      </a>
    </div>
  </carousel>
</section>
<h2 class="title" *ngIf="!isLoading">Huawei Products</h2>
<section class="container" *ngIf="!isLoading">
  <carousel [height]="310" [cellWidth]="300" [borderRadius]="14" [loop]="true">
    <div class="carousel-cell" *ngFor="let product of huaweiProducts">
      <a href="/{{ product._id }}" class="card-link">
        <article class="card">
          <img
            class="card__img"
            [src]="product.image"
            loading="lazy"
            [alt]="product.category"
          />
          <div class="head">
            <span class="head__tag">{{ product.category }}</span>
          </div>

          <div class="content">
            <h2 class="content__title">{{ product.model }}</h2>
          </div>
        </article>
      </a>
    </div>
  </carousel>
</section>
