<section class="latest">
  <img
    src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
    alt=""
  />
  <div class="layout"></div>
  <div class="content">
    <h2 class="content__title">
      <span class="new">NEW</span> iPhone 14 Pro Max
    </h2>
    <button class="content__btn">View Details</button>
  </div>
</section>
<h2 class="title">Apple Products</h2>
<section class="container">
  <article class="card">
    <img
      class="card__img"
      src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
      alt="iPhone"
    />
    <div class="head">
      <span class="head__tag">iPhone</span>
    </div>

    <div class="content">
      <h2 class="content__title">iPhone 12</h2>
    </div>
  </article>
  <article class="card">
    <img
      class="card__img"
      src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
      alt="iPhone"
    />
    <div class="head">
      <span class="head__tag">iPhone</span>
    </div>

    <div class="content">
      <h2 class="content__title">iPhone 12</h2>
    </div>
  </article>
  <article class="card">
    <img
      class="card__img"
      src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
      alt="iPhone"
    />
    <div class="head">
      <span class="head__tag">iPhone</span>
    </div>

    <div class="content">
      <h2 class="content__title">iPhone 12</h2>
    </div>
  </article>
  <article class="card">
    <img
      class="card__img"
      src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
      alt="iPhone"
    />
    <div class="head">
      <span class="head__tag">iPhone</span>
    </div>

    <div class="content">
      <h2 class="content__title">iPhone 12</h2>
    </div>
  </article>
  <article class="card">
    <img
      class="card__img"
      src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
      alt="iPhone"
    />
    <div class="head">
      <span class="head__tag">iPhone</span>
    </div>

    <div class="content">
      <h2 class="content__title">iPhone 12</h2>
    </div>
  </article>
</section>
<h2 class="title">Samsung Products</h2>
<section class="container">
  <article class="card">
    <img
      class="card__img"
      src="https://images.unsplash.com/photo-1597762470488-3877b1f538c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
      alt="iPhone"
    />
    <div class="head">
      <span class="head__tag">Samsung</span>
    </div>

    <div class="content">
      <h2 class="content__title">Samsung Galaxy Note 20 Ultra</h2>
    </div>
  </article>
  <article class="card">
    <img
      class="card__img"
      src="https://images.unsplash.com/photo-1597762470488-3877b1f538c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
      alt="iPhone"
    />
    <div class="head">
      <span class="head__tag">Samsung</span>
    </div>

    <div class="content">
      <h2 class="content__title">Samsung Galaxy Note 20 Ultra</h2>
    </div>
  </article>
  <article class="card">
    <img
      class="card__img"
      src="https://images.unsplash.com/photo-1597762470488-3877b1f538c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
      alt="iPhone"
    />
    <div class="head">
      <span class="head__tag">Samsung</span>
    </div>

    <div class="content">
      <h2 class="content__title">Samsung Galaxy Note 20 Ultra</h2>
    </div>
  </article>
  <article class="card">
    <img
      class="card__img"
      src="https://images.unsplash.com/photo-1597762470488-3877b1f538c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
      alt="iPhone"
    />
    <div class="head">
      <span class="head__tag">Samsung</span>
    </div>

    <div class="content">
      <h2 class="content__title">Samsung Galaxy Note 20 Ultra</h2>
    </div>
  </article>
  <article class="card">
    <img
      class="card__img"
      src="https://images.unsplash.com/photo-1597762470488-3877b1f538c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
      alt="iPhone"
    />
    <div class="head">
      <span class="head__tag">Samsung</span>
    </div>

    <div class="content">
      <h2 class="content__title">Samsung Galaxy Note 20 Ultra</h2>
    </div>
  </article>
</section>
<h2 class="title">Huawei Products</h2>
<section class="container">
  <article class="card">
    <img
      class="card__img"
      src="https://images.unsplash.com/photo-1595941069915-4ebc5197c14a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
      alt="iPhone"
    />
    <div class="head">
      <span class="head__tag">Huawei</span>
    </div>

    <div class="content">
      <h2 class="content__title">Huawei P40 Pro</h2>
    </div>
  </article>
  <article class="card">
    <img
      class="card__img"
      src="https://images.unsplash.com/photo-1595941069915-4ebc5197c14a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
      alt="iPhone"
    />
    <div class="head">
      <span class="head__tag">Huawei</span>
    </div>

    <div class="content">
      <h2 class="content__title">Huawei P40 Pro</h2>
    </div>
  </article>
  <article class="card">
    <img
      class="card__img"
      src="https://images.unsplash.com/photo-1595941069915-4ebc5197c14a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
      alt="iPhone"
    />
    <div class="head">
      <span class="head__tag">Huawei</span>
    </div>

    <div class="content">
      <h2 class="content__title">Huawei P40 Pro</h2>
    </div>
  </article>
  <article class="card">
    <img
      class="card__img"
      src="https://images.unsplash.com/photo-1595941069915-4ebc5197c14a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
      alt="iPhone"
    />
    <div class="head">
      <span class="head__tag">Huawei</span>
    </div>

    <div class="content">
      <h2 class="content__title">Huawei P40 Pro</h2>
    </div>
  </article>
  <article class="card">
    <img
      class="card__img"
      src="https://images.unsplash.com/photo-1595941069915-4ebc5197c14a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
      alt="iPhone"
    />
    <div class="head">
      <span class="head__tag">Huawei</span>
    </div>

    <div class="content">
      <h2 class="content__title">Huawei P40 Pro</h2>
    </div>
  </article>
</section>
