.latest {
  position: relative;
  width: 90%;
  height: 600px;
  margin: 0 auto;
  border-radius: 14px;
  overflow: hidden;
  scale: 1;
  transition: scale 300ms ease-in-out;
}

.latest:hover {
  scale: 1.01;
}

.latest img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  scale: 1;
}

.latest .layout {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.4);
}

.latest .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.latest .content .content__title {
  color: #fff;
  font-size: 42px;
  margin-bottom: 30px;
}

.latest .content .content__title .new {
  font-size: 14px;
  vertical-align: middle;
  color: #fff;
  background-color: red;
  padding: 8px 15px;
  border-radius: 20px;
}

.latest .content .content__btn {
  width: 130px;
  display: block;
  margin: 0 auto;
  padding: 15px;
  cursor: pointer;

  border: 2px solid #ff8066;
  border-radius: 15px;
  background-color: #ff8066;
  color: #000;

  font-size: 16px;
  font-weight: bold;
  text-decoration: none;

  transition: background-color 200ms ease-in-out;
}

.latest .content .content__btn:hover {
  background: #b6e5fe;
  border: 2px solid #b6e5fe;
}

.title {
  width: 90%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  /* margin-left: 15px; */
  letter-spacing: 1.1px;
  font-size: 20px;
}

.container {
  width: 90%;
  margin: 0 auto;
  height: calc(100% - 70px);
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.container:last-child {
  margin-bottom: 30px;
}

.container .card {
  width: 300px;
  height: 300px;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transform: scale(1);
  transition: all 300ms ease-in-out;
  position: relative;
  cursor: pointer;
}

.container .card:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  z-index: 2;
}

.container .card .card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}

.container .card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}

.container .card .head {
  position: relative;
  height: 40%;
}

.container .card .head,
.container .card .content {
  z-index: 1;
  position: relative;
}

.card .head .head__tag {
  left: 18px;
  right: unset;
}

.container .card .head .head__tag {
  position: absolute;
  top: 24px;

  padding: 4px 12px;
  border-radius: 6px;
  background-color: #845ec2;
  color: #fff;
  letter-spacing: 1.1px;
}

.container .card .content {
  padding: 18px;
  height: 60%;
}

.container .card .content .content__title {
  color: #fff;
}
