<app-thumbnail></app-thumbnail>
<section class="container">
  <div class="aside">
    <h2 class="title">Search</h2>
    <form [formGroup]="searchFormGroup" class="search-form">
      <input
        type="search"
        name="search"
        required
        formControlName="search"
        class="input"
        placeholder="Search product"
      />
    </form>
    <h2 class="title">Categories</h2>
    <ul class="categories" role="list">
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'all' ? 'active' : ''"
          (click)="handleChangeCategory('all')"
        >
          All
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 't-shirt' ? 'active' : ''"
          (click)="handleChangeCategory('t-shirt')"
        >
          T-Shirts
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'shirts' ? 'active' : ''"
          (click)="handleChangeCategory('shirts')"
        >
          Shirts
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'jeans' ? 'active' : ''"
          (click)="handleChangeCategory('jeans')"
        >
          Jeans
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'jackets' ? 'active' : ''"
          (click)="handleChangeCategory('jackets')"
        >
          Jackets
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'shoes' ? 'active' : ''"
          (click)="handleChangeCategory('shoes')"
        >
          Shoes
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'sleepwear' ? 'active' : ''"
          (click)="handleChangeCategory('sleepwear')"
        >
          Sleep Wear
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'sweats' ? 'active' : ''"
          (click)="handleChangeCategory('sweats')"
        >
          Sweats
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'dresses' ? 'active' : ''"
          (click)="handleChangeCategory('dresses')"
        >
          Dresses
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'other' ? 'active' : ''"
          (click)="handleChangeCategory('other')"
        >
          Other
        </button>
      </li>
    </ul>
  </div>
  <div class="products-container">
    <p class="not-found" *ngIf="!isLoading && products.length === 0">
      No products found from {{ selectedCategory }}.
    </p>
    <ul class="products" role="list" *ngIf="!isLoading">
      <li class="product" *ngFor="let product of products">
        <a class="product-link" [routerLink]="'/products/' + product._id">
          <article class="card">
            <img class="card__img" [src]="product.image" [alt]="product.name" />
            <div class="desc">
              <h3 class="desc__title">
                {{ product.name }}
              </h3>
              <p class="desc__category">{{ product.category }}</p>
              <p class="desc__price" [ngClass]="{ discount: product.discount }">
                ${{ product.price }}
              </p>
            </div>
          </article>
        </a>
      </li>
    </ul>

    <nav class="pagination">
      <button
        class="prev-page"
        [disabled]="currentPage === 0"
        (click)="handlePageBack()"
      >
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <p>
        Showing
        <b
          >{{ currentPage * pageSize + 1 }}-{{
            (currentPage + 1) * pageSize > totalResults
              ? totalResults
              : (currentPage + 1) * pageSize
          }}</b
        >
        of <b>{{ totalResults }}</b> results
      </p>
      <button
        class="next-page"
        [disabled]="(currentPage + 1) * pageSize >= totalResults"
        (click)="handlePageForward()"
      >
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </nav>
    <app-loading *ngIf="isLoading"></app-loading>
  </div>
</section>
