<app-notification
  *ngIf="hasError"
  [errorMessage]="errorMessage"
></app-notification>
<section class="container">
  <div class="aside">
    <h2 class="title">Search</h2>
    <form class="search-form" (submit)="handleSearch($event)">
      <input
        type="search"
        name="search"
        class="input"
        placeholder="Search product"
      />
      <button class="search-btn">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    <h2 class="title">Categories</h2>
    <ul class="categories" role="list">
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'all' ? 'active' : ''"
          (click)="handleChangeCategory('all')"
        >
          All
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'apple' ? 'active' : ''"
          (click)="handleChangeCategory('apple')"
        >
          Apple
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'samsung' ? 'active' : ''"
          (click)="handleChangeCategory('samsung')"
        >
          Samsung
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'huawei' ? 'active' : ''"
          (click)="handleChangeCategory('huawei')"
        >
          Huawei
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'xiaomi' ? 'active' : ''"
          (click)="handleChangeCategory('xiaomi')"
        >
          Xiaomi
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'nokia' ? 'active' : ''"
          (click)="handleChangeCategory('nokia')"
        >
          Nokia
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'other' ? 'active' : ''"
          (click)="handleChangeCategory('other')"
        >
          Other
        </button>
      </li>
    </ul>
  </div>
  <div class="products-container">
    <ul class="products" role="list" *ngIf="!isLoading">
      <li class="product" *ngFor="let product of products">
        <a [routerLink]="['/products', product._id]">
          <article class="card">
            <img
              loading="lazy"
              class="card__img"
              [src]="product.image"
              [alt]="product.model"
            />
            <div class="head">
              <span class="head__tag">{{
                product.category.toLocaleUpperCase()
              }}</span>
            </div>

            <div class="content">
              <h2 class="content__title">{{ product.model }}</h2>
            </div>
          </article>
        </a>
      </li>
    </ul>
    <app-loading *ngIf="isLoading"></app-loading>
  </div>
</section>
