<app-thumbnail></app-thumbnail>
<section class="container">
  <div class="aside">
    <h2 class="title">Search</h2>
    <form
      #searchForm="ngForm"
      class="search-form"
      (ngSubmit)="handleSearch(searchForm)"
    >
      <input
        type="search"
        name="search"
        #search="ngModel"
        required
        ngModel
        class="input"
        placeholder="Search product"
      />
      <button class="search-btn" [disabled]="searchForm.invalid">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    <h2 class="title">Categories</h2>
    <ul class="categories" role="list">
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'all' ? 'active' : ''"
          (click)="handleChangeCategory('all')"
        >
          All
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'apple' ? 'active' : ''"
          (click)="handleChangeCategory('apple')"
        >
          Apple
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'samsung' ? 'active' : ''"
          (click)="handleChangeCategory('samsung')"
        >
          Samsung
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'huawei' ? 'active' : ''"
          (click)="handleChangeCategory('huawei')"
        >
          Huawei
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'xiaomi' ? 'active' : ''"
          (click)="handleChangeCategory('xiaomi')"
        >
          Xiaomi
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'nokia' ? 'active' : ''"
          (click)="handleChangeCategory('nokia')"
        >
          Nokia
        </button>
      </li>
      <li class="category">
        <button
          [ngClass]="selectedCategory === 'other' ? 'active' : ''"
          (click)="handleChangeCategory('other')"
        >
          Other
        </button>
      </li>
    </ul>
  </div>
  <div class="products-container">
    <p class="not-found" *ngIf="!isLoading && products.length === 0">
      No products found from {{ selectedCategory }}.
    </p>
    <ul class="products" role="list" *ngIf="!isLoading">
      <li class="product" *ngFor="let product of products">
        <a class="product-link" [routerLink]="'/products/' + product._id">
          <article class="card">
            <img class="card__img" [src]="product.image" [alt]="product.name" />
            <div class="desc">
              <h3 class="desc__title">
                {{ product.name }}
              </h3>
              <p class="desc__category">{{ product.category }}</p>
              <p class="desc__price">${{ product.price }}</p>
            </div>
          </article>
        </a>
      </li>
    </ul>

    <app-loading *ngIf="isLoading"></app-loading>
  </div>
</section>
