.container {
  width: 90%;
  margin-inline: auto;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 10px;
}

.container .aside {
  border-top: 2px solid red;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 5px;
  height: 550px;
  max-height: 700px;

  border-radius: 4px;
  background-color: #fff;
}

.container .aside .title {
  font-size: 20px;
  line-height: 2.5;
  text-align: center;
  letter-spacing: 1px;
  border-bottom: 1px solid lightgray;

  margin-bottom: 15px;
}

.container .aside .search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container .aside .input {
  width: 80%;
  border: 1px solid gray;
  border-radius: 10px;
  outline: none;
  padding: 3px;
  caret-color: #0071e7;
  margin-bottom: 5px;
}

.container .aside .input.ng-invalid.ng-touched {
  border: 2px solid red;
}

.container .aside .search-btn {
  border: 1px solid red;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  padding: 3px 8px;
  margin-left: 15px;
  cursor: pointer;

  transition: background-color 300ms ease-in-out;
}

.container .aside .search-btn:disabled {
  border: none;
  background-color: gray !important;
  cursor: not-allowed;
}

.container .aside .search-btn:hover {
  background-color: #da6961;
}

.container .aside .categories .category button {
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-bottom: 8px;
  background-color: transparent;
  cursor: pointer;

  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.container .aside .categories .category button:hover {
  background-color: red;
  color: #fff;
}

.container .products-container {
  width: 100%;
  position: relative;
}

.container .products-container .products {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.active {
  background-color: red !important;
  color: #fff;
}

/* Card Component */

.container .products-container .products .product a {
  text-decoration: none;
}

.container .products-container .products .product .product-link {
  text-decoration: none;
  color: inherit;
}

.container .products-container .products .card .card__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.container .products-container .products .card .desc {
  background-color: #fff;
  text-align: center;
  padding: 10px 10px;
  height: 150px;
  max-height: 200px;
}

.container .products-container .products .card .desc .desc__title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.container .products-container .products .card .desc .desc__category {
  background-color: #000;
  width: 80px;
  color: #fff;
  font-weight: bold;
  padding: 2px 5px;
  margin-inline: auto;
  margin-bottom: 10px;
  border-radius: 4px;
  text-transform: uppercase;
}

.container .products-container .products .card .desc .desc__price {
  font-size: 20px;
}

.container .products-container .products .product .product-link:hover .desc {
  background-color: red;
}

.container
  .products-container
  .products
  .product
  .product-link:hover
  .desc
  .desc__price.discount {
  background-color: #fff;
}

.container .products-container .products .card .desc .desc__price.discount {
  color: red;
}

.loading p {
  font-size: 24px;
}

.not-found {
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  margin-top: 200px;
  text-transform: uppercase;
}
