<section class="register">
  <h2 class="title">
    <i class="fa-solid fa-right-to-bracket"></i> Register Now
  </h2>
  <form class="form">
    <label for="email">Email</label>
    <input type="email" name="email" class="email" placeholder="Email adress" />
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      class="password"
      placeholder="Password"
    />
    <label for="rePassword">Repeat-Password</label>
    <input
      type="password"
      name="rePassword"
      class="rePassword"
      placeholder="Repeat-Password"
    />
    <button>Register</button>
  </form>
  <a href="#" class="link">Have already an account? Log In</a>
</section>
